<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
		<h1>Welcome to OnEarth</h1>
		<p>This demo is customized with pre-confgured endpoints and sample imagery. For more information, visit <a href="https://github.com/nasa-gibs/onearth">https://github.com/nasa-gibs/onearth</a></p>

		<h2>Endpoint Configuration</h2>
		<p>This package has four endpoints configured for the following EPSG projections: 4326 (geographic), 3857 (webmercator), 3413 (arctic), and 3857 (antarctic).</p>
		<p>Each endpoint is configured with NASA's Blue Marble imagery and a few additional layers. The EPSG:3857 endpoint reprojects imagery from the GIBS EPSG:4326 endpoint if the "reproject" demo is installed.</p>
		<p>For ease of use, each WMTS endpoint has an OpenLayers client for browsing the imagery.</p>

		<p>This demo also includes a Mapserver configuration that can be used to access the demo imagery. OpenLayers endpoints are included that use Mapserver as a WMS service.</p>

		<hr>

		<h2>WMTS endpoint demos</h2>

		<h3>WMTS endpoints with OpenLayers</h3>
		<p><a href="/onearth/wmts/epsg4326/">/onearth/wmts/epsg4326/</a></p>
		<p><a href="/onearth/wmts/epsg3857/">/onearth/wmts/epsg3857/</a></p>
		<p><a href="/onearth/wmts/epsg3413/">/onearth/wmts/epsg3413/</a></p>
		<p><a href="/onearth/wmts/epsg3031">/onearth/wmts/epsg3031/</a></p>

		<p><strong>Sample WMTS tile request: </strong><a href="/onearth/wmts/epsg4326/wmts.cgi?layer=blue_marble&tilematrixset=EPSG4326_1km&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image%2Fjpeg&TileMatrix=2&TileCol=1&TileRow=1">/onearth/wmts/epsg4326/wmts.cgi?layer=blue_marble&tilematrixset=EPSG4326_1km&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image%2Fjpeg&TileMatrix=2&TileCol=1&TileRow=1</a></p>

		<p><strong>Sample WMTS vector tile request: </strong><a href="/onearth/wmts/epsg3857/wmts.cgi?layer=oscar&tilematrixset=GoogleMapsCompatible_Level6&Service=WMTS&Request=GetTile&Version=1.0.0&Format=application%2Fx-protobuf&TileMatrix=1&TileCol=0&TileRow=1&time=2016-07-07">/onearth/wmts/epsg3857/wmts.cgi?layer=oscar&tilematrixset=GoogleMapsCompatible_Level6&Service=WMTS&Request=GetTile&Version=1.0.0&Format=application%2Fx-protobuf&TileMatrix=1&TileCol=0&TileRow=1&time=2016-07-07</a></p>

		<p><strong>Sample WMTS GetCapabilities request: </strong><a href="/onearth/wmts/epsg4326/wmts.cgi?Service=WMTS&Request=GetCapabilities&Version=1.0.0">/onearth/wmts/epsg4326/wmts.cgi?Service=WMTS&Request=GetCapabilities&Version=1.0.0</a>
		
		<hr>
		
		<h2>TWMS Endpoint Demo</h2>
		
		<h4>Sample KML Generation Requests</h4>
		<p>Blue Marble <a href="/onearth/twms/epsg4326/kmlgen.cgi?layers=blue_marble&TIME=2014-10-04">/onearth/twms/epsg4326/kmlgen.cgi?layers=blue_marble&TIME=2014-01-01</a></p>
		<p>MODIS Aerosol <a href="/onearth/twms/epsg4326/kmlgen.cgi?layers=MYR4ODLOLLDY_global_10km&TIME=2014-10-04">/onearth/twms/epsg4326/kmlgen.cgi?layers=MYR4ODLOLLDY_global_10km&TIME=2014-10-04</a></p>
		
		<p><strong>Sample TWMS tile request: </strong><a href="/onearth/twms/epsg4326/twms.cgi?request=GetMap&layers=blue_marble&srs=EPSG:4326&format=image%2Fjpeg&styles=&width=512&height=512&bbox=-180,-198,108,90">/onearth/twms/epsg4326/twms.cgi?request=GetMap&layers=blue_marble&srs=EPSG:4326&format=image%2Fjpeg&styles=&width=512&height=512&bbox=-180,-198,108,90</a></p>
		
		<p><strong>Sample TWMS tile request reprojected from GIBS to EPSG:3857 (requires reproject demo installed): </strong><a href="/onearth/twms/epsg3857/twms.cgi?request=GetMap&layers=VIIRS_Black_Marble&srs=EPSG:3857&format=image/png&styles=&width=256&height=256&bbox=-20037508.3428,-20037508.3428,20037508.3428,20037508.3428">/onearth/twms/epsg3857/twms.cgi?request=GetMap&layers=VIIRS_Black_Marble&srs=EPSG:3857&format=image/png&styles=&width=256&height=256&bbox=-20037508.3428,-20037508.3428,20037508.3428,20037508.3428</a></p>
		
		<p><strong>Sample TWMS GetCapabilities request: </strong><a href="/onearth/twms/epsg4326/twms.cgi?Request=GetCapabilities">/onearth/twms/epsg4326/twms.cgi?Request=GetCapabilities</a>
		
		<p><strong>Sample TWMS GetTileService request: </strong><a href="/onearth/twms/epsg4326/twms.cgi?Request=GetTileService">/onearth/twms/epsg4326/twms.cgi?Request=GetTileService</a>
		
		<hr>

		<h2>WMS Endpoint Demos</h2>

		<h3>OpenLayers using Mapserver as a WMS</h3>
	        <p><a href="/onearth/wms/epsg4326/">/onearth/wms/epsg4326/</a></p>
	        <p><a href="/onearth/wms/epsg3857/">/onearth/wms/epsg3857/</a></p>
	        <p><a href="/onearth/wms/epsg3413/">/onearth/wms/epsg3413/</a></p>
	        <p><a href="/onearth/wms/epsg3031/">/onearth/wms/epsg3031/</a></p>

		<h3>Sample WMS map request</h3>
		<p><a href="/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180">/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180</a></p>

	    <h3>Sample WMS map request (multiple layers)</h3>
		<p><a href="/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble,MYR4ODLOLLDY_global_10km&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180">/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble,MYR4ODLOLLDY_global_10km&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180</a></p>
		
		<h3>Sample WMS map request (with rasterized vector layers)</h3>
		<p><a href="/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble,MODIS_C5_fires,Terra_Orbit_Dsc_Dots&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180">/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fjpeg&TRANSPARENT=true&LAYERS=blue_marble,MODIS_C5_fires,Terra_Orbit_Dsc_Dots&CRS=EPSG%3A4326&STYLES=&WIDTH=1024&HEIGHT=512&BBOX=-90%2C-180%2C90%2C180</a></p>

		<h3>Sample WMS getCapabilities request</h3>
		<p><a href="/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities">/onearth/wms/epsg4326/wms.cgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities</a></p>
		
		<hr>

		<h2>WFS Endpoint Demos</h2>

		<h3>OpenLayers using Mapserver as a WFS</h3>
	        <p><a href="/onearth/wfs/epsg4326/">/onearth/wfs/epsg4326/</a></p>
	        <p><a href="/onearth/wfs/epsg3857/">/onearth/wfs/epsg3857/</a></p>
	        <p><a href="/onearth/wfs/epsg3413/">/onearth/wfs/epsg3413/</a></p>
	        <p><a href="/onearth/wms/epsg3031/">/onearth/wfs/epsg3031/</a></p>

		<h3>Sample WFS map request</h3>
		<p><a href="/onearth/wfs/epsg4326/wfs.cgi?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetFeature&TYPENAME=Terra_Orbit_Dsc_Dots&OUTPUTFORMAT=geojson">/onearth/wfs/epsg4326/wfs.cgi?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetFeature&TYPENAME=Terra_Orbit_Dsc_Dots&OUTPUTFORMAT=geojson</a></p>

		<h3>Sample WFS getCapabilities request</h3>
		<p><a href="/onearth/wfs/epsg4326/wfs.cgi?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities">/onearth/wfs/epsg4326/wfs.cgi?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities</a></p>
		
		<hr>
	
		<a href="/onearth/onearth-vector-dev/index.html"><h2>Vector Visualization Client</h2></a>
		<p>This client is for the visualization of vector data sets</p>
	
		<a href="/onearth/onearth-data-client/index.html"><h2>Dynamic Data Visualization</h2></a>
		<p>This client does dynamic data visualization</p>
	</div>
</body>
