*~
.DS_Store
.classpath
.project
.pydevproject
upstream
build
/dist/
/docker/el9/rpms/
/docker/local-deployment/local-mrf-archive/
/docker/local-deployment/onearth-configs/
/docker/local-deployment/downloaded-onearth-configs/
/src/test/*.pyc
/src/test/legends_test_data/*.png
/src/test/legends_test_data/*.svg
/src/test/legends_test_data/*.xml
/src/test/legends_test_data/new_colormaps.json
/src/test/results/
/src/test/test_*_results.xml
/src/test/mrfgen_files/jpng/temp*
/src/mrfgen/RgbToPalLib.c
/src/mrfgen/RgbToPalLib.*.so
/tmp/
.vscode/*
*.pyc
__pycache__
/certs/
