<TiledGroup>
	<Name>$Name</Name>
	<Title>$Title</Title>
	<Abstract>$Name</Abstract>
	<Projection>$Projection</Projection>
	<Pad>0</Pad>
	<Bands>$Bands</Bands>
	<BoundingBox minx=\"-4194304\" miny=\"-4194304\" maxx=\"4194304\" maxy=\"4194304\" />
	<Key>\${time}</Key>
EXECBEEF: ${TT} -p $LN
</TiledGroup>
