Size 2560 1280 1 3
PageSize 512 512 1 3
SkippedLevels 1
IndexFile /home/oe2/onearth/src/test/mapserver_test_data/test_imagery/${prefix}/${filename}.idx
DataFile /home/oe2/onearth/src/test/mapserver_test_data/test_imagery/${prefix}/${filename}.pjg
EmptyTile /home/oe2/onearth/src/test/mod_wmts_wrapper_configure_tool_test_data/empty_tiles/Blank_RGB_512.jpg