source_gc_uri: "http://onearth-tile-services/wmts/epsg4326/all/1.0.0/WMTSCapabilities.xml"
time_service_uri: "http://onearth-time-service/time_service/time"
time_service_keys: ["epsg3857", "all"]
gc_service_uri: "http://onearth-capabilities/wmts/epsg3857/all/gc"
tms_defs_file: "/etc/onearth/config/conf/tilematrixsets.xml"
layer_config_source: "/etc/onearth/config/layers/profiler/"
apache_config_location: "/etc/httpd/conf.d/"
base_uri_gc: "http://localhost/wmts/epsg3857/all"
base_uri_gts: "http://localhost/twms/epsg3857/all"
epsg_code: "EPSG:4326"
target_epsg_code: "EPSG:3857"
gc_service:
  internal_endpoint: "/var/www/html/wmts/epsg3857/all"
  external_endpoint: "/wmts/epsg3857/all/gc"
  config_prefix: "epsg3857_all_gc_service"
  gc_header_file: "/etc/onearth/config/conf/header_gc.xml"
  gts_header_file: "/etc/onearth/config/conf/header_gts.xml"
  twms_gc_header_file: "/etc/onearth/config/conf/header_twms_gc.xml"
wmts_service:
  internal_endpoint: "/var/www/html/wmts/epsg3857/all"
  external_endpoint: "/wmts/epsg3857/all"
  config_prefix: "epsg3857_all"
twms_service:
  internal_endpoint: "/var/www/html/twms/epsg3857/all"
  external_endpoint: "/twms/epsg3857/all"