time_service_uri: "http://onearth-time-service/time_service/time"
time_service_keys: ["epsg4326", "best"]
gc_service_uri: "http://onearth-capabilities/wmts/epsg4326/best/gc"
tms_defs_file: "/etc/onearth/config/conf/tilematrixsets.xml"
layer_config_source: "/etc/onearth/config/layers/epsg4326/best/"
apache_config_location: "/etc/httpd/conf.d/"
base_uri_gc: "http://onearth-tile-services/wmts/epsg4326/best/"
base_uri_gts: "http://onearth-tile-services/twms/epsg4326/best/"
epsg_code: "EPSG:4326"
gc_service:
  internal_endpoint: "/var/www/html/wmts/epsg4326/best"
  external_endpoint: "/wmts/epsg4326/best/gc"
  config_prefix: "epsg4326_best_gc_service"
  gc_header_file: "/etc/onearth/config/conf/header_gc.xml"
  gts_header_file: "/etc/onearth/config/conf/header_gts.xml"
  twms_gc_header_file: "/etc/onearth/config/conf/header_twms_gc.xml"
wmts_service:
  internal_endpoint: "/var/www/html/wmts/epsg4326/best"
  external_endpoint: "/wmts/epsg4326/best"
  config_prefix: "epsg4326_best"
twms_service:
  internal_endpoint: "/var/www/html/twms/epsg4326/best"
  external_endpoint: "/twms/epsg4326/best"