Size 20480 10240 1 4
PageSize 512 512 1 4
SkippedLevels 1
IndexFile /build/test/ci_tests/test_imagery/test_versioned_colormaps/${YYYY}/${filename}.idx
DataFile /build/test/ci_tests/test_imagery/test_versioned_colormaps/${YYYY}/${filename}.ppg
EmptyTile /build/test/ci_tests/empty_tiles/Blank_RGBA_512.png