Size 2621440 1310720 1 4
PageSize 512 512 1 4
SkippedLevels 1
EmptyTile /var/www/html/wmts/epsg4326/empty_tiles/ASTER_L1T_Radiance_Terrain_Corrected.png
IndexFile /var/www/html/wmts/epsg4326/ASTER_L1T_Radiance_Terrain_Corrected/${YYYY}/${filename}.idx
Redirect /s3/epsg4326/ASTER_L1T_Radiance_Terrain_Corrected/${YYYY}/${filename}.ppg