Size 2621440 1310720 1 4
PageSize 512 512 1 4
SkippedLevels 1
EmptyTile /var/www/html/wmts/epsg4326/empty_tiles/ASTER_L1T_Radiance_Terrain_Corrected.png
IndexFile /var/www/html/wmts/epsg4326/std/ASTER_L1T_Radiance_Terrain_Corrected/default/15.625m/${YYYY}/${filename}.idx
Redirect /s3/${filename}.ppg