Size 163840 81920 1 3
PageSize 512 512 1 3
SkippedLevels 1
EmptyTile /var/www/html/wmts/epsg4326/empty_tiles/Blank_RGBA_512.png
IndexFile /var/www/html/wmts/epsg4326/MODIS_Aqua_Brightness_Temp_Band31_Night_v6_STD/${YYYY}/${filename}.idx
Redirect /s3/epsg4326/MODIS_Aqua_Brightness_Temp_Band31_Night_v6_STD/${YYYY}/${filename}.ppg