Size 8192 8192 1 1
PageSize 512 512 1 1
SkippedLevels 1
EmptyTile /var/www/html/wmts/epsg3413/empty_tiles/Blank_RGBA_512.png
IndexFile /onearth/idx/epsg3413/MODIS_Aqua_Brightness_Temp_Band31_Day_v6_STD/${YYYY}/${filename}.idx
Redirect /s3/epsg3413/MODIS_Aqua_Brightness_Temp_Band31_Day_v6_STD/${YYYY}/${filename}.ppg
