# The MRF Size and PageSize parameters (see the MRF XML)
Size 8192 4096 1 3
PageSize 512 512 1 3
SkippedLevels 1

# This line must reference a locally-accessible IDX file for this layer's MRF.
# The ${filename} field is swapped out to contain the date string of the layer that's being requested.
# For static layers, omit that part.
IndexFile /var/www/html/mrf_endpoint/date_test/default/tms/${filename}.idx

# For layers where the data file is on disk, use the commented line below.
DataFile /var/www/html/mrf_endpoint/date_test/default/tms/${filename}.pjg

# For layers where the data file exists at a proxied endpoint (like S3), make sure the following line
# points to the local location where that endpoint is proxied.
# Redirect /s3/${filename}.pjg
