<ReprojectLayerConfig>
	<SrcWMTSGetCapabilitiesURI>https://gibs.earthdata.nasa.gov/wmts/epsg4326/best/1.0.0/WMTSCapabilities.xml</SrcWMTSGetCapabilitiesURI>
	<SrcLocationRewrite internal="/outside" external="https://gibs.earthdata.nasa.gov" />
	<EnvironmentConfig>/etc/onearth/config/conf/environment_webmercator.xml</EnvironmentConfig>
</ReprojectLayerConfig>